

MAIL_ENABLED=true
MAIL_IMAPS_HOST=imap.gmail.com
MAIL_IMAPS_PORT=993
MAIL_IMAPS_USERNAME=your_gmail@gmail.com
MAIL_IMAPS_PASSWORD=your_16_char_app_password
MAIL_IMAPS_FOLDER=INBOX
MAIL_IMAPS_SSL_ENABLE=true
